<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util" 
       xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd" 
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"> 


    <!--        
        **********************************************************************************************
        Data access object: Datastore implementation
        **********************************************************************************************
    -->
    <!-- Datastore DAO -->
    <bean id="policyDao" class="com.bac.policydsentitycomponent.access.DataAccessor" 
          lazy-init="true">
        <property name="componentFactory" ref="policyEntityComponentFactory"/> 
        <property name="dataTypeResolver" ref="dataTypeResolver"/> 
        <property name="relationshipPolicy" ref="relationshipPolicy"/> 
        <property name="nodeRelationshipResolver" ref="nodeRelationshipResolver"/>   
    </bean>
    
    <!-- Entity component factory. No default class is supplied so only Policy entities will be created -->
    <bean id="policyEntityComponentFactory" class="com.bac.policydsentitycomponent.entity.PolicyDSEntityComponentFactory" >
        <property name="facesUtilities" ref="facesUtilities"/>   
        <property name="beanDataTypeMap">       
            <map>     
                <entry value="policyDSEntity">
                    <key>
                        <util:constant static-field="com.bac.entitycomponent.entity.EntityComponentDataType.ENTITY_COMPONENT_CLASS" />
                    </key>
                </entry>
            </map>
        </property>            
    </bean>            
    
    <!-- Policy DS Entity -->
    <bean id="policyDSEntity" class="com.bac.policydsentitycomponent.entity.PolicyDSEntity" scope="prototype" />
      
</beans>